<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link rel="stylesheet" href="styles.css" />
        <title>Vue Todo</title>
    </head>

    <body>
        <div id="app">
            <h1>A List of Things To Do</h1>
            <p v-show="activeTodos.length === 0">You are done with all your tasks! Good job!</p>
            <form v-on:submit.prevent="addItem"> <!--v-on tells vue that when it sees the submit event for the form to call addItem.
                                                    submit.prevent prevents the normal form submittion process of the server-->
                <input type="text" v-model="message"><!--Save text input into message variable-->
                <button type="submit">Add</button><!--This is where the submit event takes place-->
            </form>
            <div class="controls">
                <button v-on:click="showAll()">Show All</button>
                <button v-on:click="showActive()">Show Active</button>
                <button v-on:click="showCompleted()">Show Completed</button>
                <button v-on:click="deleteCompleted()">Delete Completed</button>
            </div>
            <ul>
                <li v-for="item in filteredTodos" draggable="true" v-on:dragstart="dragItem(item)" v-on:dragover.prevent v-on:drop="dropItem(item)">
                    <input type="checkbox" v-model="item.completed"/>
                    <label v-bind:class="{ completed: item.completed }">{{ item.text }}</label> <!--This one is weird but it is giving
                                                                                                    this assigning this label to the class
                                                                                                    class "completed" if item.completed is
                                                                                                    true-->                                                                                                  
                    <button v-on:click="deleteItem(item)" class="delete">X</button>

                    <!-- <label>{{ item.text }}</label> -->
                </li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>